{
    "data": {
      "type":"vars",
      "attributes": {
        "key":"AWS_SECRET_ACCESS_KEY",
        "value":"PUT HERE YOUR CREDENTIAL",
        "description":"AWS secret access key",
        "category":"env",
        "hcl":false,
        "sensitive":true
      },
      "relationships": {
        "workspace": {
          "data": {
            "id":"ws-UHe9ZVUo59VP31gW",
            "type":"workspaces"
          }
        }
      }
    }
  }